doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        title Calculator — Free Code Camp project

        <!-- Bootstrap -->
        //- link(href="css/bootstrap.min.css" rel="stylesheet")
        //- link(href="./bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
        link(href="./css/calculator.css" rel="stylesheet")

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    body
        .calc
            #display 0
            .row
                button(class="single" onClick="setDisplay(0)") AC
                button(class="single" onClick="posNeg()") +/-
                button(class="single" onClick="percent()") %
                button(class="single" onClick="setOperater('divide')") &divide;
            .row
                button(class="single" onClick="enterNumber(this)") 7
                button(class="single" onClick="enterNumber(this)") 8
                button(class="single" onClick="enterNumber(this)") 9
                button(class="single" onClick="setOperater('multiply')") &times;
            .row
                button(class="single" onClick="enterNumber(this)") 4
                button(class="single" onClick="enterNumber(this)") 5
                button(class="single" onClick="enterNumber(this)") 6
                button(class="single" onClick="setOperater('subtract')") -
            .row
                button(class="single" onClick="enterNumber(this)") 1
                button(class="single" onClick="enterNumber(this)") 2
                button(class="single" onClick="enterNumber(this)") 3
                //- button(class="single" onClick="setOperater(+)") +
                button(class="single" onClick="setOperater('add')") +
            .row
                button(class="double" onClick="enterNumber(this)") 0
                button(class="single" onClick="enterNumber(this)") .
                button(class="single" onClick="doMath()") =
                



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        script(src="./bower_components/jquery/dist/jquery.js")
        //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        //- script(src="./bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="./js/calculator.js")
        //- script(src="js/bootstrap.min.js")
