doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    title Random Quotes — Free Code Camp project

    <!-- Bootstrap -->
    link(href="./css/bootstrap.min.css" rel="stylesheet")
    //- link(href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  body
    div(class="container center-block" style="width: 90%;")
        .row
            .col-sm-2
            .col-sm-8
                h3 Best Code Comments Collection
                    a(id="new-quote" class="btn btn-success btn-xs" style="margin: 0px 0px 5px 12px") &orarr;
                p(id="quote" style="min-height:100px;")
            .col-sm-2
        .row
            .col-sm-2
            .col-sm-8
                hr
                p
                    small quotes from here (curation):
                    br
                    small
                        a(href="http://www.javacodegeeks.com/2011/07/funny-source-code-comments.html" target="_blank") http://www.javacodegeeks.com/2011/07/funny-source-code-comments.html
                p
                    small originally from here:
                    br
                    small
                        a(href="http://stackoverflow.com/questions/184618/what-is-the-best-comment-in-source-code-you-have-ever-encountered" target="_blank") http://stackoverflow.com/questions/184618/what-is-the-best-comment-in-source-code-you-have-ever-encountered
            .col-sm-2
    
    //- script(src="./bower_components/jquery/dist/jquery.js")
    script(src="./js/jquery.min.js")
    script(src="./js/randomQuotes.js")